<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    
    {{#if errorMessage}}
      <p style="color: red;">{{errorMessage}}</p>
    {{/if}}

    <form action="/login" method ="post">
    <input type="email" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Submit">
    </form>
    <a href="/signup">Create New Account</a>
</body>
</html>